.cut-label {
    padding-right: 1rem;
}

.cuts-wrapper {
    justify-content: center;
}

.cut-selection-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.image-container {
    display: flex;
    max-height: 50%;
    padding: 1rem;
    justify-content: center;
}

.cuts-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cut-actions {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-right: 30%;
    padding-left: 30%;
}

.displayImage{
    max-width: 50%;
    max-height: 50%;
}
