.upload_button {
    border: 1px solid black;
    border-radius: 0.5rem ;
    cursor: pointer;
}

.upload_button:hover {
    background-color: lightgrey;
}

.upload_label {
    display: flex;
    height: fit-content;
}

.centered {
    align-items: center;
    justify-content: center;
}
